@media (min-width:440px) {
	[class*=" grid"]>*,[class^=grid]>* {
		box-sizing: border-box;
		min-width: 0;
		min-height: 0;
	}

	[class*=" grid"].has-gutter,[class^=grid].has-gutter {
		margin-right: -.5rem;
		margin-left: -.5rem;
	}

	[class*=" grid"].has-gutter>*,[class^=grid].has-gutter>* {
		margin-right: .5rem;
		margin-left: .5rem;
	}

	[class*=" grid"].has-gutter-l,[class^=grid].has-gutter-l {
		margin-right: -1rem;
		margin-left: -1rem;
	}

	[class*=" grid"].has-gutter-l>*,[class^=grid].has-gutter-l>* {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	[class*=" grid"].has-gutter-xl,[class^=grid].has-gutter-xl {
		margin-right: -2rem;
		margin-left: -2rem;
	}

	[class*=" grid"].has-gutter-xl>*,[class^=grid].has-gutter-xl>* {
		margin-right: 2rem;
		margin-left: 2rem;
	}

	.grid {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.grid>* {
		-ms-flex: 1 1 0;
		flex: 1 1 0;
	}

	[class*=" grid-"],[class^=grid-] {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	[class*=" grid-"]>*,[class^=grid-]>* {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(100% - .01px);
	}

	[class*=" grid-"].has-gutter>*,[class^=grid-].has-gutter>* {
		width: calc(100% - 1rem - .01px);
	}

	[class*=" grid-"].has-gutter-l>*,[class^=grid-].has-gutter-l>* {
		width: calc(100% - 2rem - .01px);
	}

	[class*=" grid-"].has-gutter-xl>*,[class^=grid-].has-gutter-xl>* {
		width: calc(100% - 4rem - .01px);
	}

	[class*=grid-2]>* {
		width: calc(100% * 1 / 2 - .01px);
	}

	[class*=grid-2].has-gutter>* {
		width: calc(100% * 1 / 2 - 1rem - .01px);
	}

	[class*=grid-2].has-gutter-l>* {
		width: calc(100% * 1 / 2 - 2rem - .01px);
	}

	[class*=grid-2].has-gutter-xl>* {
		width: calc(100% * 1 / 2 - 4rem - .01px);
	}

	[class*=grid-3]>* {
		width: calc(100% * 1 / 3 - .01px);
	}

	[class*=grid-3].has-gutter>* {
		width: calc(100% * 1 / 3 - 1rem - .01px);
	}

	[class*=grid-3].has-gutter-l>* {
		width: calc(100% * 1 / 3 - 2rem - .01px);
	}

	[class*=grid-3].has-gutter-xl>* {
		width: calc(100% * 1 / 3 - 4rem - .01px);
	}

	[class*=grid-4]>* {
		width: calc(100% * 1 / 4 - .01px);
	}

	[class*=grid-4].has-gutter>* {
		width: calc(100% * 1 / 4 - 1rem - .01px);
	}

	[class*=grid-4].has-gutter-l>* {
		width: calc(100% * 1 / 4 - 2rem - .01px);
	}

	[class*=grid-4].has-gutter-xl>* {
		width: calc(100% * 1 / 4 - 4rem - .01px);
	}

	[class*=grid-5]>* {
		width: calc(100% * 1 / 5 - .01px);
	}

	[class*=grid-5].has-gutter>* {
		width: calc(100% * 1 / 5 - 1rem - .01px);
	}

	[class*=grid-5].has-gutter-l>* {
		width: calc(100% * 1 / 5 - 2rem - .01px);
	}

	[class*=grid-5].has-gutter-xl>* {
		width: calc(100% * 1 / 5 - 4rem - .01px);
	}

	[class*=grid-6]>* {
		width: calc(100% * 1 / 6 - .01px);
	}

	[class*=grid-6].has-gutter>* {
		width: calc(100% * 1 / 6 - 1rem - .01px);
	}

	[class*=grid-6].has-gutter-l>* {
		width: calc(100% * 1 / 6 - 2rem - .01px);
	}

	[class*=grid-6].has-gutter-xl>* {
		width: calc(100% * 1 / 6 - 4rem - .01px);
	}

	[class*=grid-7]>* {
		width: calc(100% * 1 / 7 - .01px);
	}

	[class*=grid-7].has-gutter>* {
		width: calc(100% * 1 / 7 - 1rem - .01px);
	}

	[class*=grid-7].has-gutter-l>* {
		width: calc(100% * 1 / 7 - 2rem - .01px);
	}

	[class*=grid-7].has-gutter-xl>* {
		width: calc(100% * 1 / 7 - 4rem - .01px);
	}

	[class*=grid-8]>* {
		width: calc(100% * 1 / 8 - .01px);
	}

	[class*=grid-8].has-gutter>* {
		width: calc(100% * 1 / 8 - 1rem - .01px);
	}

	[class*=grid-8].has-gutter-l>* {
		width: calc(100% * 1 / 8 - 2rem - .01px);
	}

	[class*=grid-8].has-gutter-xl>* {
		width: calc(100% * 1 / 8 - 4rem - .01px);
	}

	[class*=grid-9]>* {
		width: calc(100% * 1 / 9 - .01px);
	}

	[class*=grid-9].has-gutter>* {
		width: calc(100% * 1 / 9 - 1rem - .01px);
	}

	[class*=grid-9].has-gutter-l>* {
		width: calc(100% * 1 / 9 - 2rem - .01px);
	}

	[class*=grid-9].has-gutter-xl>* {
		width: calc(100% * 1 / 9 - 4rem - .01px);
	}

	[class*=grid-10]>* {
		width: calc(100% * 1 / 10 - .01px);
	}

	[class*=grid-10].has-gutter>* {
		width: calc(100% * 1 / 10 - 1rem - .01px);
	}

	[class*=grid-10].has-gutter-l>* {
		width: calc(100% * 1 / 10 - 2rem - .01px);
	}

	[class*=grid-10].has-gutter-xl>* {
		width: calc(100% * 1 / 10 - 4rem - .01px);
	}

	[class*=grid-11]>* {
		width: calc(100% * 1 / 11 - .01px);
	}

	[class*=grid-11].has-gutter>* {
		width: calc(100% * 1 / 11 - 1rem - .01px);
	}

	[class*=grid-11].has-gutter-l>* {
		width: calc(100% * 1 / 11 - 2rem - .01px);
	}

	[class*=grid-11].has-gutter-xl>* {
		width: calc(100% * 1 / 11 - 4rem - .01px);
	}

	[class*=grid-12]>* {
		width: calc(100% * 1 / 12 - .01px);
	}

	[class*=grid-12].has-gutter>* {
		width: calc(100% * 1 / 12 - 1rem - .01px);
	}

	[class*=grid-12].has-gutter-l>* {
		width: calc(100% * 1 / 12 - 2rem - .01px);
	}

	[class*=grid-12].has-gutter-xl>* {
		width: calc(100% * 1 / 12 - 4rem - .01px);
	}
}

.push {
	margin-left: auto;
}

.pull {
	margin-right: auto;
}

.grid-item-first {
	-ms-flex-order: -1;
	order: -1;
}

.grid-item-last {
	-ms-flex-order: 1;
	order: 1;
}

[class*="--reverse"] {
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

@media (min-width:545px) {
	.full,.one-half {
	}

	.full {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(100% - .01px);
	}

	.has-gutter .full {
		width: calc(100% - 1rem - .01px);
	}

	.has-gutter-l .full {
		width: calc(100% - 2rem - .01px);
	}

	.has-gutter-xl .full {
		width: calc(100% - 4rem - .01px);
	}

	.one-half {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(50% - .01px);
	}

	.has-gutter .one-half {
		width: calc(50% - 1rem - .01px);
	}

	.has-gutter-l .one-half {
		width: calc(50% - 2rem - .01px);
	}

	.has-gutter-xl .one-half {
		width: calc(50% - 4rem - .01px);
	}

	.one-third {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(100% / 3 - .01px);
	}

	.has-gutter .one-third {
		width: calc(100% / 3 - 1rem - .01px);
	}

	.has-gutter-l .one-third {
		width: calc(100% / 3 - 2rem - .01px);
	}

	.has-gutter-xl .one-third {
		width: calc(100% / 3 - 4rem - .01px);
	}

	.one-quarter {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(100% / 4 - .01px);
	}

	.has-gutter .one-quarter {
		width: calc(100% / 4 - 1rem - .01px);
	}

	.has-gutter-l .one-quarter {
		width: calc(100% / 4 - 2rem - .01px);
	}

	.has-gutter-xl .one-quarter {
		width: calc(100% / 4 - 4rem - .01px);
	}

	.one-fifth {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(100% / 5 - .01px);
	}

	.has-gutter .one-fifth {
		width: calc(100% / 5 - 1rem - .01px);
	}

	.has-gutter-l .one-fifth {
		width: calc(100% / 5 - 2rem - .01px);
	}

	.has-gutter-xl .one-fifth {
		width: calc(100% / 5 - 4rem - .01px);
	}

	.two-thirds {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(100% / 3 * 2 - .01px);
	}

	.has-gutter .two-thirds {
		width: calc(100% / 3 * 2 - 1rem - .01px);
	}

	.has-gutter-l .two-thirds {
		width: calc(100% / 3 * 2 - 2rem - .01px);
	}

	.has-gutter-xl .two-thirds {
		width: calc(100% / 3 * 2 - 4rem - .01px);
	}

	.three-quarters {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(100% / 4 * 3 - .01px);
	}

	.has-gutter .three-quarters {
		width: calc(100% / 4 * 3 - 1rem - .01px);
	}

	.has-gutter-l .three-quarters {
		width: calc(100% / 4 * 3 - 2rem - .01px);
	}

	.has-gutter-xl .three-quarters {
		width: calc(100% / 4 * 3 - 4rem - .01px);
	}
}

@media (min-width:545px) and (max-width:768px) {
	[class*="-small-4"]>* {
		width: calc(100% / 4 - .01px);
	}

	[class*="-small-4"].has-gutter>* {
		width: calc(100% / 4 - 1rem - .01px);
	}

	[class*="-small-4"].has-gutter-l>* {
		width: calc(100% / 4 - 2rem - .01px);
	}

	[class*="-small-4"].has-gutter-xl>* {
		width: calc(100% / 4 - 4rem - .01px);
	}

	[class*="-small-3"]>* {
		width: calc(100% / 3 - .01px);
	}

	[class*="-small-3"].has-gutter>* {
		width: calc(100% / 3 - 1rem - .01px);
	}

	[class*="-small-3"].has-gutter-l>* {
		width: calc(100% / 3 - 2rem - .01px);
	}

	[class*="-small-3"].has-gutter-xl>* {
		width: calc(100% / 3 - 4rem - .01px);
	}

	[class*="-small-2"]>* {
		width: calc(100% / 2 - .01px);
	}

	[class*="-small-2"].has-gutter>* {
		width: calc(100% / 2 - 1rem - .01px);
	}

	[class*="-small-2"].has-gutter-l>* {
		width: calc(100% / 2 - 2rem - .01px);
	}

	[class*="-small-2"].has-gutter-xl>* {
		width: calc(100% / 2 - 4rem - .01px);
	}

	[class*="-small-1"]>* {
		width: calc(100% - .01px);
	}

	[class*="-small-1"].has-gutter>* {
		width: calc(100% - 1rem - .01px);
	}

	[class*="-small-1"].has-gutter-l>* {
		width: calc(100% - 2rem - .01px);
	}

	[class*="-small-1"].has-gutter-xl>* {
		width: calc(100% - 4rem - .01px);
	}
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix {
	zoom: 1;
}

:first-child + html .clearfix {
	zoom: 1;
}

body {
	background-color: #640034;
	color: #1f3542;
	font-family: 'Roboto', sans-serif;
}

a,
a:visited {
	color: #2d168a;
	text-decoration: none;
}

a:hover {
	color: #2d168a;
	text-decoration: underline;
}

#page h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 24px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

.entry-content h2 {
	display: flex;
	color: #640034;
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	text-transform: uppercase;
}

.entry-content h2 a,
.entry-content h2 a:hover,
.entry-content h2 a:visited {
	color: #640034;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

#page h4 {
	color: #43ad8e;
	font-size: 15px;
	text-transform: uppercase;
}

.entry-content h4 {
	margin: 20px 0 5px;
}

.wcb_widget_sponsors .widget-title {
	font-size: 18px;
}

h4.sponsor-level-title {
	text-align: center;
}

.btn {
	display: inline-block;
	text-decoration: none;
	font-weight: 400;
}

.btn-lg {
	padding: 20px 30px;
}

.btn-primary {
	background-color: #640034;
	color: #fff;
	font-size: 1.2rem;
	transition: all .5s ease;
}

.btn-primary:hover {
	background-color: #606C38;
	text-decoration: none;
	transition: all .5s ease;
}

.btn-quero-palestrar {
	margin-top: 40px;
}

.btn-quero-palestrar a {
	color: #640034 !important;
	text-decoration: none;
}

.btn-quero-palestrar a:hover {
	color: #ffb718 !important;
	text-decoration: none;
}

.btn-quero-palestrar a .icone-palestrar {
	margin-top: -10px;
	margin-right: 10px;
}

input#searchsubmit,
input[type="submit"] {
	background: #640034;
	color: #fff;
	border: none;
	border-radius: 2px;
	padding: 8px;
	transition: all .5s ease;
}

input#searchsubmit:hover,
input[type="submit"]:hover {
	background: #606c38;
	color: #fff;
	text-decoration: none;
	transition: all .5s ease;
}

.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 89px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	background: #640034;
}

.site-title a {
	width: 230px;
	height: 89px;
	text-indent: -9999px;
	background: url('http://2017.bordeaux.wordcamp.org/files/2016/10/wcbordeaux-2017-logo-h.png') no-repeat;
}

.main-navigation {
	flex: 1;
	z-index: 9999;
}

.menu-principal-container {
	clear: both;
	background: none;
	position: relative;
}

.main-navigation {
	margin: 0 auto;
	max-width: 1470px;
	padding: 0 20px;
	text-align: center;
}

.main-navigation ul.nav-menu {
	float: right;
	width: auto;
}

.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	border: none;
}

.main-navigation li {
	margin: 0;
	transform: skewx(-16deg);
	transition: background-color .3s ease;
}

.main-navigation li:hover {
	background-color: #606c38;
}

.main-navigation li a {
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	line-height: 89px;
	padding: 0 10px;
	transform: skewx(16deg);
}

.main-navigation li a::after {
	color: rgba(255,255,255,0.3);
	content: '/';
	padding: 0 10px;
	position: absolute;
}

.main-navigation li ul {
	transform: skewx(16deg);
	left: 16px;
}

.main-navigation li ul * {
	transform: skewx(0);
}

.main-navigation li ul li {
	position: relative;
	width: 100%;
}

.main-navigation li ul li a {
	position: relative;
	line-height: 1.5;
	border-bottom: solid 1px #e8e8e8;
	font-size: 14px;
	padding: 10px;
	width: 100% !important;
	background-color: #f4f0d0 !important;
	color: #640034 !important;
}

.main-navigation li ul li a:hover {
	background-color: #9c9990 !important;
	color: white !important;
}

.main-navigation li ul li a::after {
	content: none;
	padding: 0;
	position: static;
}

.main-navigation li.entradas a::after,
.main-navigation li.organizadores a::after {
	content: '';
	padding: 0;
}

.main-navigation li.organizadores a::after {
	padding-right: 20px;
}

.main-navigation li.entradas a::before {
	font-family: 'FontAwesome';
	content: '\\\f145';
	color: #fff;
	font-size: 1.4em;
	margin-right: 10px;
}

.main-navigation li.entradas a {
	background: rgba(0,0,0,0.05);
	padding-left: 25px;
	padding-right: 25px;
}

.main-navigation li.entradas a:hover {
	background: rgba(0,0,0,0.1);
}

.main-navigation li.social {
	margin: 0 2px;
}

.main-navigation li.social a {
	padding: 0;
	text-indent: -9999px;
	transition: none;
}

.main-navigation li.twitter a {
	background: transparent url('https://2015.buenosaires.wordcamp.org/files/2015/03/logo-twitter.png') no-repeat;
	background-position: right center;
	background-size: 16px 16px;
	margin: 0 0 0 8px;
	width: 19px;
}

.main-navigation li.twitter a:hover {
	background-position: left center;
}

.main-navigation li.facebook a {
	background: transparent url('https://2015.buenosaires.wordcamp.org/files/2015/03/logo-facebook.png') no-repeat;
	background-position: right center;
	background-size: 16px 16px;
	width: 15px;
}

.main-navigation li.facebook a:hover {
	background-position: left center;
}

.main-navigation li.social a::after {
	content: '';
	padding: 0;
}

.main-navigation li a:hover {
/*color: rgba(255, 255, 255, 0.65);*/
	color: white;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
	color: #fff;
	font-weight: 400;
}

.main-navigation ul.nav-menu.toggled-on,
.menu-toggle,
.menu-toggle:active,
.menu-toggle.toggled-on,
button:active {
	background: none;
	background-image: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	font-size: 14px;
	line-height: 48px;
	outline: none;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
	transition: all .5s ease;
}

.main-navigation ul.nav-menu.toggled-on:hover,
.menu-toggle:hover,
.menu-toggle:focus {
	background: none;
	background-image: none;
	border: none;
	border-radius: 0;
	color: rgba(255,255,255,0.65);
	outline: none;
}

footer[role="contentinfo"] a {
	color: #fff;
	transition: all .5s ease;
}

footer[role="contentinfo"] a:hover {
	color: rgba(255,255,255,0.65);
}

body.home .site {
	background: #640034;
}

body.home #primary {
	max-width: 1200px;
	width: auto;
	margin: 0 auto;
	margin-top: 3em;
	padding: 80px 0;
}

body.home #primary::before {
	background-color: #fff;
	color: #640034;
	content: 'Actualités';
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 34px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 34px;
	padding: 0 40px 0 0;
	left: 0;
	top: 0;
	position: absolute;
	text-transform: uppercase;
	z-index: 2;
}

body.home #primary::after {
	background-color: #640034;
	content: '';
	display: block;
	height: 1px;
	left: 0;
	top: 17px;
	position: absolute;
	width: 100%;
	z-index: 1;
}

body.home #secondary {
	margin: 0;
	padding: 0;
	background: ;
}

body.template-front-page #page #main {
	background-color: #fff;
	padding-top: 20px;
}

body.template-front-page #page .site-content {
	float: left;
	width: 58%;
}

.home #secondary .widget:first-child form {
	max-width: 940px;
	margin: 0 auto;
}

.home #subscribe-email {
	flex: 1;
}

.home #subscribe-email input {
	width: 95%;
	height: 26px;
	background: rgba(100,0,52,.1);
	border: 2px solid #640034;
	color: #fff;
	font-weight: bold;
}

.home #subscribe-submit input {
	font-size: 1.15rem;
	text-transform: uppercase;
}

@media screen and (min-width: 600px) and (max-width: 1030px) {
	.main-navigation {
		padding: 0 20px 0 0 !important;
	}
}

@media (max-width: 875px) {
	.main-navigation li a {
		line-height: 45px;
	}
}

@media (max-width: 850px) {
	#text-4 {
	/* ? */
		padding: 0 !important;
		margin-top: 0 !important;
	}

	#text-4 #home-logo {
		margin: 30px;
		margin-top: 20% !important;
		max-width: 180px !important;
	}

	#text-6 {
		top: 490px !important;
		height: auto !important;
	}

	#home-logo {
		width: 40%;
	}

	#infos-principais {
		margin: 0 auto;
		width: 50% !important;
	}

	#infos-principais .btn {
		font-size: 16px;
		padding: 16px;
		font-weight: normal;
	}
}

.home #content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.home .hentry {
	width: 45%;
}

.home .hentry:not(.has-post-thumbnail) .entry-header {
	min-height: 220px;
	background: rgba(100,0,52,.5) url('http://2017.bordeaux.wordcamp.org/files/2016/10/wcbordeaux-2017-logo-h.png') no-repeat center;
}

.home .entry-header .wp-post-image {
	margin-bottom: 0;
}

.home .entry-header .entry-title a {
	margin-top: -2px;
	background: #640034;
	color: #fff;
	line-height: 45px;
	text-align: center;
}

.home .entry-header .entry-title a:hover {
	background: #606c38;
	color: #fff;
}

.home .entry-content {
	display: none;
}

body.template-front-page #page .widget-area {
	border: none;
	clear: none;
	float: right;
	padding: 0 2% 0 0;
	width: 32%;
}

#text-4,
#text-6 {
	display: none;
}

body.home #main {
	display: flex;
	flex-direction: column-reverse;
	max-width: 100%;
	margin-top: 0;
	padding: 0;
	background: #fff;
}

body.home #secondary {
	width: auto;
}

.home #secondary .widget:first-child {
	display: block;
	overflow: hidden;
	background: url('http://2017.bordeaux.wordcamp.org/files/2016/10/2017-wcbordeaux-bg01.jpg') no-repeat center;
	background-size: cover;
	text-align: center;
	width: 100%;
	margin: 0;
	z-index: 0;
}

.home #secondary .widget:first-child #chamada-principal {
	overflow: hidden;
	max-width: 1200px;
	margin: 0 auto;
	align-items: center;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.home #secondary .widget:first-child #chamada-principal #home-logo {
	vertical-align: center;
	display: flex;
	align-items: center;
}

#home-logo img {
	max-width: 300px;
}

@media (min-width: 751px) {
	#text-2 .textwidget,
		#chamada-principal,
		#home-logo {
	/* permet de centrer verticalement .infos-principais quelque soit la hauteur du logo */
		height: 100%;
	}
}

@media (max-width: 750px) {
	.home #secondary .widget:first-child #chamada-principal {
		display: block;
		overflow: visible;
	}

	#home-logo {
		margin: 0 auto;
		width: 220px;
	}

	#infos-principais {
		width: 90% !important;
		max-width: none !important;
	}

	#infos-principais > div:first-child {
		padding: .5em 0 0 !important;
		background: none !important;
		box-shadow: none !important;
		background-color: transparent !important;
	}

	#infos-principais,
		#infos-principais * {
		flex-wrap: nowrap !important;
	}

	.site-header {
		flex-direction: column;
		height: auto;
	}

	.home .hentry {
		width: 100%;
	}

	.home .entry-header,
		.home .entry-header img.wp-post-image {
		max-height: auto;
	}

}

@media (max-width: 570px) {
	.fa-5x {
		font-size: 3em !important;
	}

	#infos-principais p {
		font-weight: normal !important;
		font-size: 14px !important;
		text-shadow: 0 1px 2px #000 !important;
	}
}

@media (max-width: 510px) {
	/*	#home-logo {
				max-width: 150px !important;
				width: 100% !important;
				margin: 0 auto!important;
				float: none !important;
		}
		#infos-principais {
				width: 80% !important;
				margin: 0 auto!important;
				float: none !important;
		}
		#infos-principais .btn {
				display: none;
		}*/
}

#infos-principais {
	min-width: 430px;
	max-width: 60%;
	border-radius: 4px;
	background-color: rgba(0,0,0,.25);
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

#infos-principais p {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.1em !important;
	line-height: 1.2em !important;
	font-weight: bold;
	text-shadow: 0 0 5px #000;
	padding-top: .5em;
	margin-bottom: 0;
}

#infos-principais i {
	color: #fff;
	text-shadow: 0 0 8px rgba(0,0,0,0.5);
}

#infos-principais > div:first-child {
	justify-content: space-around;
	position: relative;
	padding: 1em 0;
	margin: 0 .1em 0 0;
	border-bottom: 1px solid rgba(255,255,255, .1);
/*	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);*/
}

.home #secondary .widget:first-child #chamada-principal .btn {
	color: #fff;
}

.home #secondary .widget:first-child #register-widget {
	background-color: #ebebeb;
	height: 175px;
	line-height: 20px;
	padding: 60px 0 0;
}

.home #secondary .widget:first-child #register-widget h2 {
	color: rgba(255,255,255,0.65);
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 30px;
	margin: 0 0 20px;
	text-transform: uppercase;
}

.home #secondary .widget:first-child #register-widget .button {
	background-color: rgba(255,255,255,0.65);
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 14px;
	padding: 15px 25px;
	text-transform: uppercase;
	transition: all .5s ease;
}

.home #secondary .widget:first-child #register-widget .button:hover {
	background-color: #640034;
	color: #fff;
	text-decoration: none;
}

.home #secondary .widget:first-child .header-widget-inner {
	padding: 120px 20px 0;
}

.home #home-cta > div {
	padding: 1em;
}

.home #secondary .widget:nth-child(2) {
	display: block;
	background: #F6F6F6;
	width: 100%;
	margin: 0;
}

.home #secondary .widget:nth-child(2) .widget-title {
	max-width: 1200px;
	margin: 0 auto;
	border-bottom: 0;
}

.home #secondary .widget:nth-child(2) i {
	color: #640034;
	margin-right: 1em;
}

.home #secondary .widget:nth-child(2) .textwidget {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 1.5em;
}

.home #secondary .widget:nth-child(2) .textwidget::after {
	content: '';
	clear: both;
	display: block;
}

.home #secondary .widget:nth-child(2) .header-widget {
	background: none;
	border-radius: 0;
	box-shadow: none;
	clear: none;
	padding: 20px 0 0;
	text-align: center;
}

.home #secondary .widget:nth-child(2) .header-widget a {
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .5s ease;
}

.home #secondary .widget:nth-child(2) .header-widget a:hover {
}

.home #secondary .widget:nth-child(2) .header-widget p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.home #secondary .widget:nth-child(2) .header-widget-inner {
	padding-top: 90px;
}

.home #secondary .widget:nth-child(2) .header-widget-inner p {
	padding-top: .5em;
	font-size: 1.2rem;
	line-height: 1.5;
}

.home #secondary .widget:nth-child(2) .attend-widget .header-widget-inner {
	background: transparent url('http://2016.belohorizonte.wordcamp.org/files/2016/05/wc-icon_2.png') no-repeat top center;
	background-size: 72px 74px;
}

.home #secondary .widget:nth-child(2) .sponsor-widget .header-widget-inner {
	background: transparent url('http://2017.bordeaux.wordcamp.org/files/2016/10/2017-wcbordeaux-sponsors.png') no-repeat top center;
	background-size: 72px 74px;
}

.home #secondary .widget:nth-child(2) .speaker-widget .header-widget-inner {
	background: transparent url('http://2017.bordeaux.wordcamp.org/files/2016/10/2017-wcbordeaux-orateurs.png') no-repeat top center;
	background-size: 72px 74px;
}

.home #secondary .second.front-widgets {
	width: 100%;
}

.wcpt-session-type-custom {
	background: #eee;
	font-weight: 700;
}

.sponsor-level.pao-de-queijo .sponsor-logo,
.sponsor-level.torresmo .sponsor-logo {
	width: 40%;
	float: left;
	margin: 0 5%;
}

.sponsor-level.tropeirao .sponsor-logo {
	width: 70%;
	margin: 0 15%;
}

a.sponsor-logo:nth-child(2n+2) {
	clear: both;
}

.site-description {
	clip: rect(1px,1px,1px,1px);
	position: absolute;
}

.site {
/*background: #fff url('http://2016.belohorizonte.wordcamp.org/files/2016/05/wordcamp-header-secundario.jpg') no-repeat 0 89px;*/
	background-size: 100% 160px;
	margin: 0 0 50px;
	max-width: 100%;
	min-width: 250px;
	padding: 0;
	position: relative;
}

.site-header {
	padding: 0;
}

#main {
	overflow: visible;
	padding: 0 20px;
}

#primary {
	margin: 0;
	padding: 0 4% 0 0;
	position: relative;
	width: 63%;
}

#secondary {
	width: 24%;
}

#secondary aside.widget {
	margin-bottom: 30px;
	overflow: hidden;
}

.single .entry-header img.wp-post-image {
	display: none;
}

body.single-attachment #primary,
body.full-width #primary {
	width: 100%;
	padding: 0;
}

#colophon {
	border: none;
	color: #fff;
	margin: 0 auto;
	text-align: right;
	background: #640034;
	max-width: 100%;
	padding: 0;
}

.site-info {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 89px;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 80px;
}

.site-info a {
	float: left;
	font-size: 14px;
	text-transform: uppercase;
}

.site-info::after {
	content: "WordCamp Bordeaux - 2017";
}

.single-author .entry-meta .by-author {
	display: inline;
}

#page .widget.wcb_widget_sponsors {
	background: #fff;
}

#page .widget.wcb_widget_sponsors .sponsor-level {
	margin-bottom: 20px;
}

#page .widget.wcb_widget_sponsors .sponsor-level h4 {
	margin-bottom: 20px;
	color: #444;
}

#page .widget.wcb_widget_sponsors .sponsor-level img {
	margin-bottom: 10px;
}

#page .entry-header,
#page .archive-header {
	border: none;
	text-align: left;
	margin: 0;
}

.search #page .entry-header,
#page .archive-header {
	border: none;
	text-align: left;
	padding: 10px 0 0;
	height: auto;
	margin: 0;
}

.search .site-content article {
	margin-bottom: 10px;
}

.entry-header .comments-link {
	display: none;
}

#page .archive-header {
	margin: 0 0 75px;
}

#page .entry-title,
#page .archive-title {
	margin: 0;
	position: relative;
}

#page .entry-header h1,
#page .archive-header h1 {
	color: #fff;
	font-size: 28px;
	line-height: 32px;
	text-align: left;
}

.entry-header .entry-title a {
	color: #640034;
	transition: all .5s ease;
}

.entry-header .entry-title a:hover {
	color: #333;
}

body.archive .archive-header .archive-title a {
	color: #fff;
	transition: all .5s ease;
}

body.archive .archive-header .archive-title a:hover {
	color: #fff;
}

body.blog #page .entry-header,
body.archive #page .entry-header {
	height: auto;
	padding: 0;
	margin: 0 0 20px;
	text-align: left;
}

body.blog #page .entry-header h1,
body.archive #page .entry-header h1 {
	font-size: 22px;
	line-height: 24px;
	text-align: left;
}

#page .page-header {
	border: none;
	text-align: left;
	padding: 80px 0 0;
	height: 150px;
	margin: 0;
}

body.blog .entry-content,
body.archive .entry-content {
	margin: 0;
	padding: 0;
}

.entry-content a,
.comment-content a,
.entry-content a:visited,
.comment-content a:visited {
	color: #640034;
	text-decoration: underline;
}

.entry-content a:hover,
.comment-content a:hover {
	color: #333;
	text-decoration: none;
}

#page .more-link {
	background-color: rgba(255,255,255,0.65);
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 14px;
	padding: 15px 25px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .5s ease;
}

#page .more-link:hover {
	background-color: #640034;
	color: #fff;
	text-decoration: none;
}

hr {
	background-color: #cac9c5;
	border: 0;
	height: 1px;
	margin: 40px 0 50px;
}

.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
	border-radius: 0;
	box-shadow: none;
	height: auto;
}

.entry-content > p > img {
	margin-top: 24px;
}

img.alignleft {
	margin: 0 24px 12px 0;
	margin: 0 1.714285714rem .857142857rem 0;
	margin: 0 24px 12px 0;
	margin: 0 1.714285714rem .857142857rem 0;
}

img.alignnone {
	margin: 0 0 12px;
	margin: 0 0 .857142857rem;
}

.site-content {
	margin: 2rem 0 0;
}

.widget-area {
	margin: 2rem 0 0;
}

.entry-header h1 a {
	display: block;
}

.entry-header h1 a:hover {
	color: #444;
}

body.page .site-content article,
body.single-wcb_session .site-content article {
	border: none !important;
	margin: 0;
	padding: 0;
}

body.blog .site-content article,
body.error404 .site-content article,
body.archive .site-content article {
	border-bottom: solid 1px #e8e8e8;
	margin: 0 0 40px;
	padding: 0 0 40px;
}

body.blog .site-content article:last-of-type,
body.error404 .site-content article:last-of-type,
body.archive .site-content article:last-of-type {
	border: none;
	padding: 0;
}

body.single .site-content article {
	border-bottom: solid 1px #e8e8e8;
	margin: 0 0 40px;
	padding: 0 0 40px;
}

body.blog .comments-link {
	display: none;
}

.blog-archive {
	width: 75%;
}

.blog-archive ul {
	border-top: solid 1px #ddd;
	list-style-type: none;
}

.blog-archive li {
	border-bottom: solid 1px #ddd;
	margin: 0;
	padding: 0;
}

.blog-archive li a {
	display: block;
	padding: 3px 10px;
	-webkit-transition: background-color .3s ease-in;
	-moz-transition: background-color .3s ease-in;
	-o-transition: background-color .3s ease-in;
	transition: background-color .3s ease-in;
}

.blog-archive li a:hover {
	background-color: #f3f3f3;
	text-decoration: none;
}

#page footer.entry-meta {
	margin-top: 24px;
	font-size: 14px;
	line-height: 18px;
	color: #640034;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

#page footer.entry-meta a {
	color: #640034;
	text-decoration: underline;
}

#page footer.entry-meta a:hover {
	color: #640034;
	text-decoration: none;
}

body.page-template-default #page footer.entry-meta,
body.page-template-page-templatesfull-width-php #page footer.entry-meta {
	display: none;
}

.edit-link {
	display: none;
}

.featured-post {
	display: none;
}

.entry-content {
	font-size: 14px;
	padding: 50px 0;
}

body.single .entry-content {
	padding: 60px 0 0;
}

.entry-content p,
.entry-summary p,
.comment-content p,
.mu_register p {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.94285714;
}

.entry-content p:last-of-type,
.entry-summary p:last-of-type,
.comment-content p:last-of-type,
.mu_register p:last-of-type {
	margin: 0;
}

.site-content nav {
	margin: 0 0 50px;
}

.nav-previous {
	float: left;
	width: 49%;
}

.nav-next {
	float: right;
	text-align: right;
	width: 49%;
}

.nav-previous a,
.nav-next a {
	color: #640034;
	padding: 0;
	display: block;
	background: none;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	line-height: 22px;
	font-family: 'Roboto', sans-serif;
}

.nav-previous a:hover,
.nav-next a:hover {
	color: #333;
	background: none;
	text-decoration: none;
}

.form-allowed-tags {
	display: none;
}

#page .widget {
	margin: 0;
	padding: 0;
}

.widget-title {
	color: #640034;
	font-size: 20px;
	line-height: 20px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	border-bottom: solid 1px #c9cac5;
}

#page .widget .textwidget {
	padding: 0 40px 10px;
}

.widget h5 {
	color: #640034;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	margin: 50px 0 30px;
	padding: 0 5px;
	text-align: center;
	text-transform: uppercase;
}

#page .widget h5 a {
	color: #640034;
	text-decoration: none;
}

#page .widget h5 a:hover {
	color: #333;
	text-decoration: none;
}

#page .widget_text img {
	border-radius: 0;
	box-shadow: none;
	float: none;
	margin: 0;
}

#page .widget_text,
#page .widget_text p {
	font-size: 13px;
	line-height: 22px;
}

#page .widget_text a {
	color: #2d168a;
}

#page .widget_text a:hover {
	color: #2d168a;
}

#page .widget_text #buddycamp-header {
	display: block;
	margin: -30px auto 20px;
}

.sponsor-logo {
	text-align: center;
}

#page .widget_text .widget-link {
	font-weight: 700;
	margin: 0 0 5px;
	text-align: center;
}

.table-legend {
	width: auto !important;
}

.t-gen {
	background-color: #e2e2e2;
}

.t-dev1 {
	background-color: #e2e9f1;
}

.t-dev2 {
	background-color: #b8f0df;
}

.t-des {
	background-color: #cdc7ed;
}

.t-row {
	text-align: center;
}

.entry-content th,
.entry-content td {
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 6px 10px;
}

.entry-content table,
.comment-content table {
	border-bottom: none;
}

#page .nav-single + .comments-area,
#page #comment-nav-above {
	margin: 30px 0;
}

.comments-area .comment .comment-meta {
	margin: 0 0 20px;
}

table a {
	color: #636363 !important;
	text-decoration: underline;
}

table a:hover {
	color: #636363 !important;
	text-decoration: none;
}

.wcorg-sponsors > div {
	border-bottom: 1px solid #ededed;
	margin-bottom: 25px;
	overflow: hidden;
	padding-bottom: 25px;
}

article.type-wcb_sponsor header.entry-header img {
	display: none;
}

.wcorg-sponsor-description img {
	float: right;
	max-width: 33.33%;
	margin: 0 0 20px 20px;
}

body.page-template-page-templatesfull-width-php .entry-content .sponsor-logo {
	float: left;
	height: 120px;
	margin: 0;
	padding: 2% 4%;
	width: 25%;
}

body.single-wcba_sponsor #page .entry-header,
#page .archive-header {
	padding: 58px 0;
	height: auto;
}

body.single-wcba_sponsor #page .entry-header h1,
#page .archive-header h1 {
	font-size: 48px;
	line-height: 49px;
}

body.single-wcba_sponsor .entry-content ul {
	border-top: solid 1px #ddd;
	display: inline-block;
	list-style-type: none;
}

body.single-wcba_sponsor .entry-content li {
	border-bottom: solid 1px #ddd;
	margin: 0;
	padding: 3px 10px;
}

body.single-wcba_sponsor footer.entry-meta {
	display: none;
}

body.single-wcba_sponsor .site-content article {
	border: none;
	margin: 0;
	padding: 0;
}

body.single-wcba_sponsor .site-content nav {
	display: none;
}

.wcorg-speaker {
	border-bottom: solid 1px #cac9c5;
	margin: 0 0 30px;
}

.wcorg-speaker:last-child {
	border-bottom: none;
}

.wcorg-speaker-description {
	min-height: 100px;
}

.wcorg-speaker img {
	border-radius: 100%;
	float: left;
	margin: 0 30px 30px 0;
}

.wcorg-speaker p {
	margin: 0 0 30px;
}

.speaker-avatar {
	float: left;
	margin-right: 25px;
	margin-bottom: 15px;
}

.speaker-avatar img {
	border-radius: 100%;
}

.wcorg-speaker p {
	margin: 0 0 30px;
}

.wcorg-speaker .social {
	margin-right: 5px;
}

.wcorg-speaker .social + br {
	display: none;
}

article.type-wcb_speaker .entry-content h2 {
	clear: none;
	margin-top: 0;
}

.wcorg-organizer {
	margin: 0 1%;
	padding: 0 15px 30px 0;
	float: left;
	width: 48%;
	box-sizing: border-box;
}

.wcorg-organizer:last-child {
	border-bottom: none;
}

.wcorg-organizer:nth-child(2n+1) {
	clear: both;
}

.wcorg-organizer .wcorg-organizer-description {
	min-height: 100px;
}

.wcorg-organizer img {
	border-radius: 100%;
	float: left;
	margin: 0 30px 30px 0;
}

.wcorg-organizer p {
	margin: 0 0 30px;
}

.wcorg-session {
	margin: 0 0 30px;
	overflow: hidden;
}

.wcorg-session:last-child {
	border-bottom: none;
}

.wcorg-session p {
	margin: 0;
}

.wcorg-session h2 {
	margin-bottom: 0;
}

.wcpt-session-meta {
	font-size: 12px;
	padding: 5px 10px;
	border-left: 4px solid #640034;
	background: #ffd;
}

.wcorg-session .photo.grav-hashed.grav-hijack {
	float: left;
	margin: 10px 10px 10px 0;
}

.wcorg-session-description {
	overflow: auto;
	zoom: 1;
}

body.single-wcb_session footer.entry-meta {
	display: none;
}

body.single-wcb_session .nav-single {
	display: none;
}

#content #tix {
	padding-top: 0;
}

#tix-attendees .avatar {
	border-radius: 100%;
}

#tix-attendees .tix-columns-3 li {
	margin: 0 2% 2%;
	width: 29%;
}

#tix-attendees .tix-columns-3::after {
	content: '';
	clear: both;
	display: block;
}

table.tix_tickets_table th {
	font-size: 1.1em;
}

table.tix_tickets_table th.tix-column-quantity,
table.tix_tickets_table th.tix-column-remaining {
	width: 80px;
}

table.tix_tickets_table th.tix-column-remaining,
table.tix_tickets_table td.tix-column-remaining {
	display: none;
}

.tix-ticket-title {
	font-size: 1.3em;
}

#tix input[type="submit"] {
	font-size: 16px;
}

.tix-submit select {
	display: none;
}

.site-info a {
	text-decoration: none;
}

.contact-form > div {
	display: flex;
}

.contact-form label {
	width: 15em;
	margin-right: .5em;
}

.contact-form input:not([type=submit]) {
	flex: 1;
/* fluid width */
	display: block;
/* IE fix */
	min-width: 0;
/* fix for min-width: auto */
}

.contact-form input:not([type=submit]):focus,
.contact-form textarea:focus {
	border-color: #640034;
	border-color: rgba(100,0,52,.5);
	box-shadow: inset 1px 1px 5px rgba(0,0,0,.2);
}

.contact-form textarea {
	flex: 1;
/* fluid height */
	display: block;
/* IE fix */
}

.contact-submit {
	text-align: right;
}

.contact-submit input[type=submit] {
	font-size: 1.2rem;
	text-transform: uppercase;
}

@media screen and (max-width: 1500px) {
	.menu-primary-menu-container::before {
		background: transparent;
		background-size: 174px 36px;
		height: 36px;
		margin: 26px 0 0;
		width: 174px;
	}
}

@media screen and (max-width: 1250px) {
	.main-navigation {
		padding: 0 20px;
	}

	.site-info {
		padding: 0 40px;
	}

	.main-navigation li a {
		font-size: 14px;
		padding: 0 4px;
	}

	.main-navigation li li a {
		font-size: 14px;
		padding: 0 4px;
	}

	.main-navigation li a::after {
		padding: 0 4px;
	}

	.main-navigation li.twitter a {
		margin: 0 0 0 4px;
	}
}

@media screen and (max-width: 1000px) {
	.menu-primary-menu-container::before {
		display: none;
	}

	.home #content {
		padding: 0 35px;
	}
}

@media screen and (max-width: 900px) {
	.site {
		background-size: 1001px 103px;
	}

	body.home .site {
		background-size: 1001px 338px;
	}

	#page #text-4 {
		height: 527px;
	}

	#page #text-4 #home-logo {
		max-width: 300px;
	}

	body.home #primary::before {
		padding-left: 35px;
	}

	body.home #primary::after {
		width: 94%;
	}
}

/*@media screen and (max-width: 900px) and (min-width: 850px) {
	#page #text-4 #home-logo {
			margin: 60px 0;
	}
}*/
@media screen and (max-width: 900px) {
	#page #text-4 #register-widget {
		height: 159px;
		padding: 30px 0 0;
	}

	#page #text-5 .header-widget {
		padding: 40px 0 0;
	}

	.site {
		margin: 0;
		max-width: 100%;
		overflow: hidden;
	}

	#main {
		margin: 0 auto;
	}

	#page .entry-header,
		#page .archive-header {
		padding: 14px 0 0;
		height: 90px;
	}

	#page .entry-header h1,
		#page .archive-header h1 {
		font-size: 22px;
		line-height: 26px;
	}

	.entry-content {
		padding: 50px 0;
	}

	#secondary {
		margin: 103px 0 0;
		padding: 50px 0 0;
	}

	body.single .entry-content {
		padding: 50px 0 0;
	}

	.menu-primary-menu-container {
		background: none;
		padding: 0;
	}

	#text-6 {
		display: none;
	}

	body.template-front-page #page #main {
		background: none;
		background-color: #fff;
		padding-top: 0;
	}

	body.page-template-page-templatesfull-width-php .entry-content .sponsor-logo {
		width: 42%;
	}

	body.template-front-page #page #primary,
		#primary {
		float: none;
		padding-bottom: 30px;
		width: auto;
	}

	body.template-front-page #page #secondary,
		#secondary {
		float: none;
		margin: 0;
		padding: 0 4%;
		width: 92%;
	}

	.site-content nav {
		margin: 0;
	}

	body.single-wcba_sponsor #page .entry-header,
		#page .archive-header {
		padding: 33px 0;
		height: auto;
	}

	body.single-wcba_sponsor #page .entry-header h1,
		#page .archive-header h1 {
		font-size: 32px;
		line-height: 38px;
	}

	#tix-attendees .tix-columns-3 li {
		width: 46%;
	}

	.wcorg-organizer {
		width: 100%;
		float: none;
	}
}

@media screen and (min-width: 600px) {
	.widget-area .widget {
		-moz-hyphens: none;
		-webkit-hyphens: none;
		hyphens: none;
	}
}

@media screen and (max-width: 600px) {
	.menu-principal-container::before {
		background: none;
		width: 0;
		height: 0;
	}

	#page #text-4 {
		top: 48px;
	}

	#page #text-4 #home-logo {
		margin: 74px 0;
		max-width: 260px;
	}

	#page #text-4 #register-widget h2 {
		font-size: 16px;
		line-height: 26px;
		margin: 0 0 10px;
	}

	#main {
		margin: 48px auto 0;
	}

	.site-header {
		background: none;
		background-color: #640034;
		height: auto;
	}

	#page .entry-header h1,
		#page .archive-header h1 {
		font-size: 18px;
		line-height: 20px;
	}

	.main-navigation {
		padding: 0;
	}

	.main-navigation li a {
		display: block;
		line-height: 38px;
		text-decoration: none;
	}

	.main-navigation li a::after {
		display: none;
	}

	.main-navigation li.social {
		margin: 0 5px;
		display: inline-block;
	}

	.site-info {
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		padding: 15px;
	}

	.site-info a {
		float: none;
		display: block;
	}

	.nav-next,
		.nav-previous {
		display: block;
		float: none;
		width: 100%;
	}

	.nav-previous {
		margin: 0 0 10px;
	}

	.site-content nav {
		margin: 0;
	}

	body.home #page #text-6 {
		display: none;
	}

	.main-navigation li ul li a {
		background: none;
		border: none;
		color: #fff !important;
	}

	.main-navigation li ul li a:hover {
		background: none;
		color: rgba(255,255,255,0.65) !important;
	}

	body.page-template-page-templatesfull-width-php .entry-content .sponsor-logo {
		float: none;
		width: 84%;
	}

	table,
		thead,
		tbody,
		th,
		td,
		tr {
		display: block;
	}

	.entry-content .t-key th {
		display: inline;
		font-size: 9px;
		padding: 10px 5px;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	td {
		border: none;
		position: relative;
		padding-left: 50%;
	}

	.entry-content .t-biz,
		.entry-content .t-dev1,
		.entry-content .t-dev2,
		.entry-content .t-des,
		.entry-content .t-gen {
		padding: 27px 10px 6px;
	}

	.wcpt-session-type-session:before {
		position: absolute;
		bottom: 0;
		right: 5px;
		width: auto;
		text-transform: uppercase;
		padding-right: 10px;
		white-space: nowrap;
	}

	#wordcamp-schedule td:nth-of-type(2):before {
		content: "Schulze Auditorium";
	}

	#wordcamp-schedule td:nth-of-type(3):before {
		content: "Thornton Auditorium";
	}

	#wordcamp-schedule td:nth-of-type(4):before {
		content: "Opus Hall Room 201";
	}

	#wordcamp-schedule td:nth-of-type(5):before {
		content: "Opus Hall Room 202";
	}

	#wordcamp-schedule td.t-row:before {
		content: "";
	}

	#business-summit-schedule td:nth-of-type(2):before {
		content: "Schulze Auditorium";
	}

	#business-summit-schedule td.t-row:before {
		content: "";
	}

	#tix td.tix-column-price,
		#tix td.tix-column-remaining,
		#tix td.tix-column-quantity {
		padding-top: 25px;
	}

	#tix td:before {
		color: #636363;
		font-size: 11px;
		font-size: .785714286rem;
		line-height: 2.181818182;
		font-weight: 700;
	}

	#tix td.tix-column-price:before {
		content: "Preço";
	}

	#tix td.tix-column-remaining:before {
		content: "Restante";
	}

	#tix td.tix-column-quantity:before {
		content: "Quantidade";
	}

	body.single-wcb_sponsor #page .entry-header h1,
		#page .archive-header h1 {
		font-size: 24px;
		line-height: 36px;
	}

	#tix-attendees .tix-columns-3 li {
		margin: 0 0 2%;
		width: 100%;
		float: none;
	}

	.contact-form > div {
		display: block;
	}

	.contact-form label {
		text-align: left;
		width: auto;
	}

	.contact-form input,
		.contact-form textarea,
		.contact-form select {
		width: 98% !important;
		max-width: 98% !important;
	}
}

@media screen and (max-width: 439px) {
	#home-logo {
		width: 150px;
	}

	#infos-principais {
		min-width: 320px;
	}
}

@media screen and (min-width: 900px) {
	body .site {
		box-shadow: none;
		margin: 0;
		padding: 0;
	}

	#main {
		margin: 0 auto;
		max-width: 940px;
		overflow: hidden;
	}

	.menu-primary-menu-container {
	/*background: transparent url('https://2015.buenosaires.wordcamp.org/files/2015/03/wcba-logo-web2.png') no-repeat top left;*/
		padding: 0;
	}
}

@media screen and (min-width: 1100px) {
	body .site {
		margin: 0;
		padding: 0;
	}

	#main {
		padding: 0;
	}
}

body.single-wcb_speaker h2.speaker-sessions {
	padding: 25px 0 0;
}

.single-wcb_speaker .entry-meta {
	display: none;
}

.wcorg-speakers .wcorg-speaker a.social,
.single-wcb_speaker a.social {
	display: inline-block;
	clear: both;
	margin: 0 0 7px;
	padding: 0 0 0 21px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 0 2px;
	line-height: 18px;
}

.wcorg-speakers .wcorg-speaker a.social.website,
.single-wcb_speaker a.website {
	background-image: url('http://2016.belohorizonte.wordcamp.org/files/2016/05/www-icon.png');
}

.wcorg-speakers .wcorg-speaker a.social.facebook,
.single-wcb_speaker a.social.facebook {
	background-image: url('http://2016.belohorizonte.wordcamp.org/files/2016/05/facebook-icon.png');
}

.wcorg-speakers .wcorg-speaker a.social.twitter,
.single-wcb_speaker a.social.twitter {
	background-image: url('http://2016.belohorizonte.wordcamp.org/files/2016/05/twitter-icon.png');
}

.wcorg-speakers .wcorg-speaker a.social.googleplus,
.single-wcb_speaker a.social.googleplus {
	background-image: url('http://2016.belohorizonte.wordcamp.org/files/2016/05/googleplus-icon.png');
}

.wcorg-speakers .wcorg-speaker a.social.linkedin,
.single-wcb_speaker a.social.linkedin {
	background-image: url('http://2016.belohorizonte.wordcamp.org/files/2016/05/linkedin-icon.png');
}

.wcorg-speakers .wcorg-speaker a.social.instagram,
.single-wcb_speaker a.social.instagram {
	background-image: url('http://2016.belohorizonte.wordcamp.org/files/2016/05/instagram-icon.png');
}

.wcorg-speakers .wcorg-speaker a.social.pinterest,
.single-wcb_speaker a.social.pinterest {
	background-image: url('http://2016.belohorizonte.wordcamp.org/files/2016/05/pinterest-icon.png');
}

.wcorg-speakers .wcorg-speaker a.social.github,
.single-wcb_speaker a.social.github {
	background-image: url('http://2016.belohorizonte.wordcamp.org/files/2016/05/github-icon.png');
}

.wcorg-speakers .wcorg-speaker a.social.youtube,
.single-wcb_speaker a.social.youtube {
	background-image: url('http://2016.belohorizonte.wordcamp.org/files/2016/05/youtube-icon.png');
}

.wcorg-speakers .wcorg-speaker a.social.email,
.single-wcb_speaker a.social.email {
	background-image: url('http://2016.belohorizonte.wordcamp.org/files/2016/05/mail-icon.png');
}

.wcorg-speakers .wcorg-speaker .wcorg-speaker-description {
	margin-bottom: 30px;
}

.wcorg-speakers .wcorg-speaker .wcorg-speaker-description h2 {
	display: none;
}

.wcorg-speakers .wcorg-speaker img {
	float: right;
	margin: 0 0 30px 30px;
}

.entry-content p + iframe {
	margin-top: 24px;
	margin-top: 1.714285714rem;
}

th.wpct-col-time {
	text-indent: -1000000px !important;
}

table.wcpt-schedule td {
	border: 1px solid #ddd !important;
}

table.wcpt-schedule th {
	background: #640034;
	border: 1px solid #640034 !important;
	color: #fff;
	text-align: center;
}

table.wcpt-schedule td a {
	text-decoration: none;
}

span.wcpt-session-speakers {
	display: block;
}

@media (max-width: 700px) {
	span.wcpt-session-speakers {
		padding-left: 0;
	}
}

span.wcpt-session-speakers a {
	color: #640034 !important;
}

a.wcpt-session-title {
	text-decoration: none;
}

td.wcpt-time,
tr.wcpt-time-900am td,
tr.wcpt-time-945am td,
tr.wcpt-time-1120am td,
tr.wcpt-time-100pm td,
tr.wcpt-time-330pm td,
tr.wcpt-time-425pm td,
tr.wcpt-time-520pm td {
	background: #eee;
	font-weight: 700;
}

td.wcb-track-sala-1,
td.wcb-track-sala-2 {
	width: 40%;
}

.widget a.sponsor-logo {
	margin-bottom: 20px;
	display: block !important;
	visibility: visible !important;
}

#page .type-wcb_session > header {
	margin: 0;
	padding: 0;
	position: relative;
}

ul#session-speaker-names li {
	padding: 0;
	margin: 0;
}

.type-wcb_session .slides div {
	display: none;
}

.sharedaddy.sd-sharing-enabled {
	margin-top: 30px;
}

#subscribe-email,
#subscribe-submit {
	float: left;
	margin-bottom: 0;
}

#subscribe-email {
	width: 75%;
}

#subscribe-email input {
	width: 90% !important;
	height: 18px;
}

.page-template-default #content .entry-header h1.entry-title,
.single #content .entry-header h1.entry-title,
.error404 #content .entry-header h1.entry-title,
.page-template-full-width #page .entry-title {
	display: flex;
	margin-top: 50px;
	color: #640034;
}

.page-template-default #content .entry-header h1.entry-title::before,
.single #content .entry-header h1.entry-title::before,
.error404 #content .entry-header h1.entry-title::before,
.page-template-full-width #page .entry-title::before {
	display: block;
/* IE fix */
	content: "";
	flex: 1;
	align-self: center;
	border-bottom: 1px solid #640034;
	margin-right: .3em;
}

.page-template-default #content .entry-header h1.entry-title::after,
.single #content .entry-header h1.entry-title::after,
.error404 #content .entry-header h1.entry-title::after,
.entry-content h2::after,
.page-template-full-width #page .entry-title::after {
	display: block;
/* IE fix */
	content: "";
	flex: 1;
	align-self: center;
	border-bottom: 1px solid #640034;
	margin-left: .3em;
}

.entry-content h2::after {
	border-color: #ededed;
}

.page-slug-sponsors .entry-content h2::before {
	display: block;
/* IE fix */
	content: "\f313";
	font-family: dashicons;
}
